.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

}

.section {
  border-radius: 5px;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem 2rem 1rem;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(149, 223, 223);

  h1,
  p {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }

  a,
  a:visited {
    color: #fff;
  }

  input {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    margin-bottom: 1rem;
    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }

  input,
  button {
    // margin-bottom: 1rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    font-family: inherit;
  }

  label,
  button {
    margin-top: 1rem;
  }

  button {
    background-color: #000;
    border: 1px solid #000;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    border-style: none;

    &:disabled {
      background-color: #404040;
      border: #404040;
      cursor: auto;
    }
  }
}

.inputHint {
  height: 50px;
  display: flex;
  align-items: center;

  p {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    width: 100%;
  }
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  border: 1px solid red !important;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}

.line {
  display: inline-block;
}

.username {
  all: inherit;
}

.password {
  all: inherit;
}

.matchPwd {
  all: inherit;
}
