.background {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: 10;
}

.addContact {
  z-index: 11;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem 2rem 2rem;
  position: fixed;
  background-color: rgb(149, 223, 223);
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  input {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }

  input,
  button {
    padding: 6px;
    font-family: inherit;
  }
  div {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  button {
    // position: absolute;
    display: inline-block;
    right: 0;
    width: 30%;
    height: 2rem;
    border: none;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(83, 173, 173);
    &:hover {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
}
